{
  "env": {
    "node": true,
    "es6": true,
    "jest": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "extends": ["prettier", "eslint:recommended", "plugin:@typescript-eslint/recommended"],
  "plugins": ["prettier", "jest","@typescript-eslint"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "singleQuote": false,
        "semi": false,
        "tabWidth": 2,
        "useTabs": false,
        "trailingComma": "all"
      }
    ],
    "no-await-in-loop": "error",
    "no-console": 0,
    "no-return-await": "error"
  }
}
